@model IEnumerable<ToDoList.Web.Models.Task>

@{
    ViewData["Title"] = "Tasks";
}

<div class="text-center">
<h1 class="display-4">Tasks</h1>
</div>

<div class="text-right">
    <p>
        <a asp-action="Create">New Task</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.ActionLink("Done", "Done", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>
