@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Global Azure Bootcamp 2019</h1><br/>
    <p>Aplicação demonstrativa para utilização no evento.</p>
</div>
